
<app-side-menu></app-side-menu>
<div class="common_div">
  <mat-card class="example-card common_cardui">
    <div class="row">
      <div class="col-sm-5">
        <p class="for_para"><b>Total Records : - {{total}}</b></p>
      </div>
      <div class="col-sm-6">
        <button (click)="exportAsXLSX()" class="btn btn-info mb-4 mt-2">Download Excel</button> 
      </div>
      <div class="col-sm-1">
      <span><button mat-fab color="warn" [hidden] ="profile.length >= '1'" aria-label="Example icon button with a home icon" (click)="create()" matTooltip="Add new">
        <mat-icon>add_circle</mat-icon>
      </button></span>
      </div>
    </div>
    <mat-card style="background-color: #a8b2c5;"> <img *ngIf="loading" class="for_loader" src="../../assets/2.gif" /> </mat-card>
    <!-- <table class="table" style="background-color: aliceblue;">
      <thead class="thead-dark"> -->
    <table class="table">
          <thead class="thead-dark">
        <tr>
          <th scope="col">Sl no</th>
          <th scope="col">Id</th>
          <th scope="col">QC Pending</th>
          <th scope="col">Pending Request</th>
          <th scope="col">Complete Request</th>
          <th scope="col">QC Developers</th>
          <th scope="col">Complete Developers</th>
          <th scope="col">Pending Developers</th>
          <th scope="col">QC Support Developers</th>
          <th scope="col">Pending Support Developers</th>
          <th scope="col">Complete Developers Days</th>
          <th scope="col">QC Developers Days</th>
          <th scope="col">Pending Developers Days</th>
          <th scope="col">Complete Developers Days</th>
          <th scope="col">last Update Date</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of profile | paginate : {itemsPerPage: tableSize,currentPage: page, totalItems: count};let p = index;">
          <th scope="row">{{p+1}}</th>
          <th>{{i._id}}</th>
          <td>{{i.qc_pending}}</td>
          <td>{{i.pending_request}}</td>
          <td>{{i.complete_request}}</td>
          <td>{{i.qc_developers}}</td>          
          <td>{{i.complete_developers}}</td>
          <td>{{i.pending_developers}} </td>
           <td>{{i.qc_support_developers}}</td> 
           <td>{{i.pending_support_developers}}</td>
           <td>{{i.complete_support_developers}}</td>
           <td>{{i.qc_developers_days}}</td>
           <td>{{i.pending_developers_days}}</td>
           <td>{{i.complete_developers_days}}</td>
           <td>{{i.last_update_date}}</td>    
          <td style="display: flex;"><button mat-button mat-raised-button color="primary" style="margin: 2px;" (click)="addupdate(i,'view')" matTooltip="Save"><mat-icon>open_in_new</mat-icon></button>
            <button mat-button mat-raised-button color="accent" style="margin: 2px;" (click)="addupdate(i,'edit')" matTooltip="Update"><mat-icon>create</mat-icon></button>
            <button mat-button mat-raised-button color="warn" style="margin: 2px;" (click)="remove(i._id)" matTooltip="Delete"> <mat-icon>delete</mat-icon></button></td>
        </tr>
      </tbody>
      </table>
  </mat-card>
  <mat-card class="example-card common_cardui">
    <div class="d-flex justify-content-center">
      <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
    </mat-card>
  <!-- <app-footer></app-footer> -->
  <mat-card class="example-card main_card" *ngIf="forCreate || isUpdate||isView">
  <mat-card class="example-card caed_head">
  <p class="card_para">This is For {{title}}</p>
  </mat-card>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
    
          <mat-label><span class="icon">
              <mat-icon>account_circle</mat-icon>
              <span>{{ sinup_data_bug.qc_pending }}</span>
            </span><span class="sp">Enter qc pending *</span></mat-label>
          <input type="number" matInput [(ngModel)]="sinup_data_bug.qc_pending"  placeholder="Ex. 23" required [disabled]="isView">
          <mat-error *ngIf="nameFormControl.hasError('required')">
            qc pending is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label><span class="icon">
              <mat-icon>account_circle</mat-icon>
            </span><span class="sp">Enter pending request *</span></mat-label>
          <input type="number" matInput [(ngModel)]="sinup_data_bug.pending_request" placeholder="Ex. 23" required [disabled]="isView">
          <mat-error *ngIf="lastnameFormControl.hasError('required')">
            pending request is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label><span class="icon">
              <mat-icon>complete_request</mat-icon>
            </span><span class="sp">Enter your complete request*</span></mat-label>
          <input type="number" matInput [(ngModel)]="sinup_data_bug.complete_request"  placeholder="Ex. 23" required [disabled]="isView">
          <!-- <mat-error *ngIf="complete_requestFormControl.hasError('complete_request') && !complete_requestFormControl.hasError('required')">
            Please enter a valid complete_request address
          </mat-error> -->
          <mat-error *ngIf="complete_requestFormControl.hasError('required')">
            complete request is <strong>required</strong>
          </mat-error>

        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label><span class="icon">
              <mat-icon>call</mat-icon>
            </span><span class="sp">Enter your qc developers No*</span></mat-label>
          <input type="number" [(ngModel)]="sinup_data_bug.qc_developers" matInput  maxlength="10"
            placeholder="Ex. 23" required [disabled]="isView">
          <mat-error *ngIf="phoneFormControl.hasError('required')">
            qc developers No is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label><span class="icon">
              <mat-icon>complete_developers</mat-icon>
            </span>
            <span class="sp">Your complete developers *</span>
          </mat-label>
          <input type="number" [(ngModel)]="sinup_data_bug.complete_developers" matInput 
            maxlength="12" placeholder="Ex. 43" required [disabled]="isView">
          <mat-error *ngIf="complete_developersFormControl.hasError('required')">
              complete developers is <strong>required enter valid complete developers </strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label><span class="icon">
              <mat-icon>home</mat-icon>
            </span><span class="sp">Enter qc support developers*</span></mat-label>
          <input type="number" matInput [(ngModel)]="sinup_data_bug.qc_support_developers" placeholder="Ex. 45" required [disabled]="isView">
          <mat-error *ngIf="addoneFormControl.hasError('required')">
            qc support developers is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label><span class="icon">
              <mat-icon>home</mat-icon>
            </span><span class="sp">Enter pending developers*</span></mat-label>
          <input matInput [(ngModel)]="sinup_data_bug.pending_developers" placeholder="Ex. 12" required [disabled]="isView">
          <mat-error *ngIf="addoneFormControl.hasError('required')">
            pending developers is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label><span class="icon">
              <mat-icon>home</mat-icon>
            </span><span class="sp">Enter pending support developers*</span></mat-label>
          <input type="number" matInput  [(ngModel)]="sinup_data_bug.pending_support_developers" placeholder="Ex. 100" required [disabled]="isView">
          <mat-error *ngIf="addtwoFormControl.hasError('required')">
            pending support developers is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
 

    </div>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label><span class="icon">
              <mat-icon>domain</mat-icon>
            </span><span class="sp">Enter your qc developers days*</span></mat-label>
          <input type="number" matInput [(ngModel)]="sinup_data_bug.qc_developers_days" placeholder="Ex. 43" required [disabled]="isView">
          <mat-error *ngIf="qc_developers_daysFormControl.hasError('required')">
            qc developers days is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label><span class="icon">
                <mat-icon>add_location</mat-icon>
              </span><span class="sp">Enter complete developers days*</span></mat-label>
            <input matInput type="number" [(ngModel)]="sinup_data_bug.complete_developers_days" placeholder="Ex. 94"
              value="94" required [disabled]="isView">
            <!-- <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
            <mat-error *ngIf="complete_developers_daysFormControl.hasError('required')">
              complete_developers_days is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label><span class="icon">
                <mat-icon>add_location</mat-icon>
              </span><span class="sp">Enter pending developers days*</span></mat-label>
            <input matInput type="number" [(ngModel)]="sinup_data_bug.pending_developers_days"  placeholder="Ex. 93"
              value="93" required [disabled]="isView">
            <!-- <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
            <mat-error *ngIf="pending_developers_daysFormControl.hasError('required')">
              pending developers days is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label><span class="icon">
                <mat-icon>location_complete_support_developers</mat-icon>
              </span><span class="sp">Enter your complete support developers*</span></mat-label>
            <input type="number" matInput  [(ngModel)]="sinup_data_bug.complete_support_developers" placeholder="25" required [disabled]="isView">
            <mat-error *ngIf="complete_support_developersFormControl.hasError('required')">
              complete support developers is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-sm-6">
         
        </div> -->
        </div>
        <mat-card class="example-card caed_head_one">
          <button mat-button mat-raised-button color="primary" style="margin: 5px;" (click)="update(sinup_data_bug.id)" [hidden]="isView || forCreate"><mat-icon>send</mat-icon> Update</button>
          <button mat-button mat-raised-button color="accent" (click)="backFor()"> <mat-icon>skip_previous</mat-icon> Back</button>
          <button mat-button mat-raised-button color="primary" style="margin: 5px;" (click)="save()" [hidden]="isView || isUpdate"><mat-icon>send</mat-icon> Save</button>
          </mat-card>
        
  </mat-card>
  <mat-card class="example-card common_cardui">
    <app-footer></app-footer>
  </mat-card>
</div>